@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
/* Glowna */
::selection {
    background:#00a9a4;
    color: #fff;
}
* {
    /* transition: 0.3s all ease-in-out; */
}

body {
    margin:0;
    padding:0;
    text-align: center;
}
a{ 
    color:#00a9a4;
}
a:hover {
    color:inherit;
}
 
.dla_ekspertek footer {
    margin-top: -75px;
}
.kontakt footer {
    margin-top: -25px;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    background-color: #000;
    border-color: #000;
}

.thumbnail {
    border: 1px solid #ced4da;
    padding: 10px;
}

button:hover {

    background: #fff;
    color: #000;

}
.nopadding {
    padding: 0;
}
.nomargin {
    margin:0;
}
table {
    width:100%;
}
a {
    color: #089f97;
}
.nav-item a {
    color:#fff !important;
}
h1, h2, h3, h4, h5, h6, .h1 {
    font-family: 'DM Serif Display', serif;
    font-weight: 500;
}
ul {
    margin: 0;
    padding: 0;
}
nav.navbar {
    background-color: transparent !important;
}
.container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}
.mleft50 {
    margin-left: 50px;
}
.mtop50 {
    margin-top: 50px;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
 
select {
        border: 0;
    padding: 10px;

    background: #fff;
padding: 20px;
min-width: 33%;
}
button {
        background: #000;
    color: #fff;
    border: 0;
    padding: 20px;
margin: 0;
min-width: 20%;
}
.btn.btn-secondary {
    color: #089f97;
    background: #000;
}
.nawigacja {
    text-align: right;
}
.nawigacja .navbar-nav {
    width:100%;
    display: flex;
justify-content: flex-end;
}
.content_wojewodztwo {
    display: inline-block;
    position: relative;
    min-width: 33%;
    z-index: 1;
}
.content_wojewodztwo select {
        position: relative;
    z-index: 1;
    width: 100%;
}
.content_wojewodztwo:before {
    content: " ";
    width: 100%;
    top: 0;
    z-index: 0;
    background: #fff;
    position: absolute;
    height: 62px;
}
@media(min-width:992px) {
.nawigacja li {
    display:inline-block;
    margin:0 20px;
}
}
@media(max-width:991px) {
.nawigacja li {
    display:block;
    margin:0 20px;
    text-align: center;
padding: 10px 0;
}
}
.nawigacja li a {
    color: #fff;
}
.slider {
    text-align: left;
    padding-bottom: 25px;
    position: relative;
    z-index: 9;
}
header {
    /* background-color: #089f97; */
    background-color: #030303;
    color:#fff;
    min-height: 300px;
    background-size: cover;
    /* background-image: url('../img/podstrona_header.jpg'); */
    background-image: url('../img/tanme_banner_top.jpeg');
    background-position: center center;
background-repeat: no-repeat;
}
header.home{
    min-height: 500px;
     background-image: none; 
    overflow: hidden;
position: relative;
}
header .menu { 
    text-align: right;
}
.navbar-toggler {
padding: 15px 5px;
width: 100%;
background: transparent  !important;
border-color: white !important;
border-radius: 0 !important;
border-width: 2px !important;
color: #fff !important;
}
.navbar-toggler-icon {
    filter: invert(1);
}
.alert-success {
    color: #1d643b;
background-color: transparent;
border-color: #12d583;
border-width: 3px;
border-radius: 0;
}
.alert-danger {
    color: #8c3634;
background-color: transparent;
border-color: #c13432;
border-width: 3px;
border-radius: 0;
}

.blog {
    width:100%;
    display: block;
}
img {
    max-width: 100%;
}
.dolacz img {
    display: inline-block;
}
.ekspertka { 
    padding: 50px 0;
        display: block;
    clear: both;
    background-image: url('../img/glowna_bg.jpg');
}
@media(min-width:992px) {
.col-md-20 {
    width:20%;
    float:left;
}
}
@media(min-width:600px) and (max-width:991px) {
.col-md-20 {
    width:50%;
    float:left;
}
}
@media(max-width:599px) {
.col-md-20 {
    width:100%;
    float:left;
}
}
footer{
    clear: both;
    background-color: #000;
    color:#fff;
    
    padding: 50px 5%;
}
.row.top {
    position: relative;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.card {
    text-align: left;
}
.caption-block {
    justify-content: center;
align-items: center;
text-align: left;
}
.caption-block a {
    color: #000;
}
.caption-block .col-md-4 {
    text-align: right;
}
section.block {
    margin: 50px 0;
}
.ekspertka > p {
    max-width: 50%;
margin: 50px auto;
text-align: center;
}
a.btn {
    background-color: #089f97;
    color: #fff;
    border-radius: 0px;
    border:0px;
    padding:15px 25px;
}
.dolacz {
    background-image: url('../img/glowna_banner_szkoleniowcy.jpg');
    width:100%;
   min-height: 300px;
   padding: 50px 0;
   color:#fff;
   text-align: left;
   background-size: cover;
}

.dolacz .btn {
    margin: 25px 0;
}
.dolacz .col-md-6 {
    text-align: left;
}
footer ul li {
  
    display: inline-block;
margin: 5px 40px 25px 0
}
footer ul li a {
    color: #fff;
    text-decoration: none;
}
footer .col-md-8 {
    text-align: left;
}
footer .col-md-4 {
    text-align: right;
}
/* Blog */

.blog_content {
    text-align:left;
}
.blog_content h1 {
    margin: 25px 0;
}
.pagination {
    justify-content: center;
}


/* Rejestracja */
.gray_bg {
    background-color: #f5f5f5;
}
.active {
    color: #089f97;
}
.rejestracja_lista {
    margin: 25px auto;
    text-align: center;
}
.image_placeholder {
    background:#eee;
    width:100%;
    min-height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rejestracja .panel-body.uploader {
background-image: url('../img/rejestracja_image_placeholder.png');
background-repeat: no-repeat;
background-size: auto;
background-position: center;
position: relative;
}
.rejestracja_lista li {
    display: inline-block;
    text-align: center;
    border-bottom: 3px solid #e1e1e1;
    color: #e1e1e1;
    margin:5px 25px;
font-size:20px;
    padding: 0px 25px;
    font-family:'DM Serif Display';
}
.rejestracja_lista li.active {
    border-bottom: 3px solid #089f97;
    color: #089f97;
    padding: 0px 25px;

}
.rejestracja input[type=checkbox], .rejestracja input[type=radio] {
    display:inline;
    margin:10px;
}
.rejestracja_block {
    text-align: center;
    width: 100%;
    max-width: 50%;
    margin: auto;
}
.rejestracja_block form {
    text-align: left;
}
.rejestracja_block input { 
    display: block;
    margin: auto;
    width: 100%;
}
.grey_block {
    width:100%;
    padding: 20px 0;
    background: #f5f5f5;
}
.btn.btn-primary {
    background-color: #089f97;
    border: 0px;
    border-radius: 0px;
}
body.rejestracja .block {
    margin-bottom: 0px;
}
.rejestracja input[type=text], 
.rejestracja input[type=password],
.rejestracja input[type=email], .rejestracja textarea {
    padding:20px;
    margin:10px 0;
    border:0px;
    width:100%;
    color:#000;
}
input::placeholder {
    color:#000;
    font-style: italic;
}
.rejestracja .btn.btn-primary {
    padding: 20px 40px;
width: 225px;
display: inline-block;
}
.center { 
    text-align: center;
}
body.rejestracja textarea {
    width:100%;
    height:300px;
}
 .row.label {
    padding: 15px;
    margin: 5px;
    background-color: #fff;
}
body.rejestracja .row.label .col-md-4 {
    text-align: right;
}
.footer-panel {
    margin:25px 0;
}
.godziny .row {
    width:100%;
    align-items: center;
}
.panel {
    background: #fff;
    text-align: center;
}
.panel-body {
    background: #fff;
text-align: center;
padding: 100px;
}
.w-auto {
    width: auto;
}
.inlineblock {
    display:inline-block;
}
/* dla ekspertek */
.ekspertki_korzysci {
    text-align: center;
    width: 100%;
    padding:100px 0;
    color:#fff;
    background-image: url('../img/dla_ekspertek_bg.jpg');

}
.ekspertki_korzysci .col-md-4:hover {
    background-color: #00a9a4;
    border-color: #00a9a4;
}
.flex-middle {
justify-content: center;
flex-flow: column;
display: flex;
}
.dla_ekspertek .flex-middle .btn.btn-primary {
    width: auto;
display: table;
    padding: 15px 25px;
    min-width: 125px;
}
.ekspertki_korzysci .col-lg-4 {
    border:5px solid #fff;
    padding: 30px;
    margin: 10px;
    max-width: calc(33% - 20px);
    background-repeat: no-repeat;
    background-position: 50% 33%;
    cursor: pointer;
}
@media(max-width:767px) {
    .ekspertki_korzysci .col-lg-4 {
        max-width: calc(100% - 20px);
    }
}
.ekspertki_korzysci .col-lg-4 img {
    opacity: 0;
}
.ekspertki_korzysci .col-lg-4:nth-child(1) {
    background-image: url('../img/dla_ekspertek_bezplatna_wizytowka_www.png');
}
.ekspertki_korzysci .col-lg-4:nth-child(2) {
    background-image: url('../img/dla_ekspertek_adres_w_domenie.png');
}
.ekspertki_korzysci .col-lg-4:nth-child(3) {
    background-image: url('../img/dla_ekspertek_darmowa_reklama.png');
}
.ekspertki_korzysci .col-lg-4:nth-child(4) {
    background-image: url('../img/dla_ekspertek_mozliwosc_opinii.png');
}
.ekspertki_korzysci .col-lg-4:nth-child(5) {
    background-image: url('../img/dla_ekspertek_dedykowane_rabaty.png');
}
.ekspertki_korzysci .col-lg-4:nth-child(6) {
    background-image: url('../img/dla_ekspertek_zaloz_bezplatne_konto.png');
}

.ekspertki_korzysci .col-lg-4:nth-child(1):hover {
    background-image: url('../img/dla_ekspertek_bezplatna_wizytowka_www_w.png');
}
.ekspertki_korzysci .col-lg-4:nth-child(2):hover {
    background-image: url('../img/dla_ekspertek_adres_w_domenie_w.png');
}
.ekspertki_korzysci .col-lg-4:nth-child(3):hover {
    background-image: url('../img/dla_ekspertek_darmowa_reklama_w.png');
}
.ekspertki_korzysci .col-lg-4:nth-child(4):hover {
    background-image: url('../img/dla_ekspertek_mozliwosc_opinii_w.png');
}
.ekspertki_korzysci .col-lg-4:nth-child(5):hover {
    background-image: url('../img/dla_ekspertek_dedykowane_rabaty_w.png');
}
.ekspertki_korzysci .col-lg-4:nth-child(6):hover {
    background-image: url('../img/dla_ekspertek_zaloz_bezplatne_konto_w.png');
}
/* Kontakt */
.kontakt_formularz {
    background-image: url('../img/kontakt_fomularz.jpg');
    width:100%;
    color:#fff;
    text-align: center;
    padding: 100px 0;
}
.kontakt_formularz input, .kontakt_formularz textarea {
    background:transparent;
    border:1px solid #fff;
    color:#fff;
    padding:10px;
    width: 100%;
margin: 10px;
}
.kontakt_formularz .btn.btn-primary {
    margin: auto;
}
body.kontakt .block {
    margin-bottom: 0px;
}
/* ekspertka */
.ekspertka_content_description {
    text-align: left;
}
.dla_ekspertek .row.label {
    text-align: left;
    padding: 0;
}
.dla_ekspertek .ocena {
    background-color: #089f97;
    color: #fff;
    text-align: center;
    display: inline-block;
padding: 5px 28px;
}
.dla_ekspertek .row.label .col-md-4,
.dla_ekspertek .row.label .col-md-2 {
    padding: 0;
}
.dla_ekspertek .row.row.label .col-md-6 {
    justify-content: center;
flex-flow: column;
display: flex;
}
.dla_ekspertek .row.label .col-md-4 img {
    max-height: 200px;
}
.dla_ekspertek .row.label .col-md-2 img {
    position: absolute;
right: 15px;
bottom: 15px;
}
.dla_ekspertek .row.label .col-md-2 {
    text-align: right;
}

.dla_ekspertek .row.label {
    margin: 25px 0;
    min-height: 200px;
}
.dla_ekspertek .filtry select {
    border: 2px solid #18af9c;
width: 100%;
}
.dla_ekspertek .filtry {
    padding: 0 0 25px 0;
}

.modal-body {
        background: #fff;
    max-width: 50%;
    margin: auto;
    padding: 50px;
}
.modal-body input{
    display:block;
    width: 100%;
        border: 1px solid #b2b2b2;
margin: 10px;
}
.ekspert_feature {
    width:100%;
    min-height: 200px;
    background-size: cover;
    background-position: center;
    background-color: #eee;
}
.sidebar {
    background-color: #edefef;
    padding: 20px;
}
.sidebar .call_to_action_ekspert{
  color: #fff;
background-color: #00a9a4;
background-image: url('../img/ekspertka_auto.jpg');
padding: 25px;
background-repeat: no-repeat;
margin: 20px -20px;
}
.sidebar .call_to_action_shop{
  color: #fff;
background-color: #00a9a4;
background-image: url('../img/ekspertka_sklep.jpg');
padding: 25px;
background-repeat: no-repeat;
margin: 20px -20px;
}
table tr {
    border-bottom: 1px solid #eee;
    
}
.ekspertka_content_description table tr td {
    padding: 5px;
}
.ekspertka_content_description table tr td:nth-child(2) {
    text-align: right;
}
.ekspertka_content_description h6, .ekspertka_content_description .onas, .ekspertka_content_description .opinie {
    margin-top: 50px;
}
.sidebar .mapa {
    margin: 25px -20px -20px -20px;
}
.komentarze .col-md-2 {
        justify-content: center;
    display: flex;
    flex-flow: column;
    flex-basis: content;
}
.komentarz-ocena img {
    width:10px;
}
.reviews-content {
        padding: 25px 0;
}
.komentarze .reviews-content li {
    list-style-type: none;
    border-bottom: 1px solid #eee;
}
.komentarz-data {
    font-size:14px;
    color:#858585;
}
.ekspertka .col-md-20  a {
    position: relative;
    display: block;
    height:100%;
    min-height: 135px;
}
.ekspertka .col-md-20 span
{
position: absolute;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
color: #fff;
font-size: 22px;
font-family: 'DM Serif Display', serif;
}
.green_bg {
    background: #00a9a4;
}
.zarobki {
    background-image: url('../img/szkolenie/szkolenie_zarobki_bg.jpg');
    padding: 50px 0;
    color:#fff;
    margin-top: 100px;
}
.szkolenie_wizyta {
    text-align: center;
margin: auto;
display: block;
width: 100%;


border: 5px solid #089f97;
padding: 50px 25px;
margin: 50px 0;
}
.gwiazdy {
    background-image: url('../img/szkolenie/szkolenie_gwiazdy_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.gwiazdy .col-md-6 {
      padding: 250px 0 100px 0;
}
.gwiazdy img {
    position:absolute;
    top:0;
}
.row.social {
    color:#00a9a4;
    margin:50px 0;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.block-full
{
    width: 100%;
    margin: 175px 0 100px 0;
}
/* .szkolenie h1 {
    margin: 100px 0;
} */
.szkolenie_img_mobile {
    max-width: 50%;
transform: translateX(0%) translateY(10%);
top: 50px;
}
@media(min-width:601px) and (max-width:767px) {
.szkolenie_img_mobile {
transform: translateX(50%);
top: -100px !important;
}
}
@media(max-width:600px) {
.szkolenie_img_mobile {
    /* display:none; */
    transform: translateX(50%);
}
}
.szkolenie_img_zarobki {
        position: absolute;
    left: 0;
    z-index: 9;
    min-height: 200px;
    bottom: -200px;
    width: 100%;
    max-width: 500px;
}
@media(max-width:991px) { 
.szkolenie_img_zarobki {
    display: none;
}
}
.szkolenie td {
    border: 1px solid rgba(255,255,255,0.25);
    padding: 5px 10px;
}
.szkolenie td:first-child, .szkolenie tr:first-child {
 color: #00a9a4;
}
.ocena > p:first-child {
    font-weight: bold;
font-size: 1.25rem;
margin: 15px 0 auto;
}

#ModalLogin > .modal-body, #ModalKontakt > .modal-body {
    top: 50%;
transform: translateY(-50%);
}
#ModalLogin input, #ModalKontakt input {
    padding: 10px;
    width: 100% !important;
    display: block;
    margin: 15px 0;
}
#ModalLogin button, #ModalKontakt button {
    width: 100%;
padding: 15px;
text-align: center;
margin: 50px auto 10px auto;
display: block;
}
#map {
width: 100%;
height: 250px;
}
.review_form input, .review_form textarea  {
margin:10px 0px;
}
.ratings {
    cursor: pointer;
}
.ratings .fa-star.add{
    color:#00a9a4;
}
.sidebar .nav-item {
    display: block;
    width: 100%;
    text-align: left;
}
.sidebar .nav-item a {
    color:#000 !important;
}
.sidebar .logout {
    background: transparent;
color: inherit;
padding: 0;
margin: 0;
text-align: left;
}
.sidebar {
    background: #fff;
    position: sticky;
    position: -webkit-sticky;
    top:10px;
}
.sidebar ul li {
    padding:10px;
    border-bottom: 1px solid #eee;
}
.material-icons {
    vertical-align: middle;
}
.card .card-header a {
float:right;
}
.card .card-header {
font-size: 2rem;
background: #f8fafc;
border-bottom: 0px;
}
.card {
    border: 0;
border-radius: 0px;
}
.card .card-body a.btn.btn-default {
    padding: 7px 13px;
display: inline-block;
}
.card .card-body td:last-child {
    width:20%;
}
.card .card-body td:last-child form {
    display:inline-block;
}
.card .card-body .btn-danger {
    border-radius:0px;
display: inline-block;
}
.container { 
    /* max-width:1366px; */
    max-width:1280px;
}
.btn.waves-effect.waves-light.btn-large {
    background: #00a9a4;
    border-radius: 0px;
    width: 100%;
    display: block;
    margin: 25px 0;
    padding: 15px 0;
    color: #fff;
}
.certyfikat {
    display: inline-block;
width: 50%;
vertical-align: bottom;
padding: 0px 10px;
position: absolute;
top: 50%;
right: 10px;
transform: translateY(-50%);
}
.label-cert {
    background: rgb(0, 0, 0) none repeat scroll 0% 0%;
color: rgb(255, 255, 255);
padding: 15px;
text-transform: uppercase;
position: relative;
text-align: left;
top: -95px;
position: relative;
right: 100px;
}
@media(max-width:767px) {
    .label-cert {
width: 50%;
left: 0px;
    }
    .dolacz  .btn.btn-primary{
 width: 100%;
}
}
.page-link, .page-item.active .page-link {
    border:0px;
    background:transparent;
    color: #000000;
}
.dla_ekspertek a:hover { 
    text-decoration: none;
}
.ekspert_image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height:360px;
    background-color: #fff;
    display:flex;
    justify-content: center;
    /* background-image:url('../img/image.svg'); */
}
.ekspertka_content_description .description {
    background: #fff;
margin: 20px 0;
padding: 15px;
}
.reviews-form {
 padding: 15px;
 background: #fff;
}
.avatar { 
    display: block;
margin: 20px auto;
/* background: #f8fafc; */
/* padding: 50px; */
/* border-radius: 25%; */
}
.user-panel .form-control {
    padding: 25px;
    border-radius: 0;
    margin: 10px 0;
}
.user-panel .panel-body {
    padding: 50px 0;
}
.kontakt_formularz input::placeholder {
    color:#fff;
}
.blog_image {
    background-size: cover;
background-position: center;
min-height: 360px;
}

.ekspertka .col-md-20 a:hover::before {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 0;
    content: " ";
    width: 100%;
    height: 100%;
    left: 0;
}
.ekspertka .col-md-20:last-child a:hover::before {
    background:transparent;
     
}
.ekspertka .col-md-20:last-child a:hover {
    background-color: #000;
}
.dashboard .card-body i {
    font-size: 4rem;
position: absolute;
right: 15px;
}
.dashboard .card-body {
    padding:3.5rem;
    background: #00a9a4;
}
.dashboard a.card-body {
    color: #fff;
}
.dashboard a.card-body:hover { 
    text-decoration: none;
}
.alert li {
    list-style: none;
}
.input_radio {
    padding: 5px 10px;
}
.input_radio input[type=radio] {
    margin: 0 10px;;
}
.komentarze .reviews-content li:nth-child(2n) {
    background: #eef3f7;
}
.sidebar table {
    margin: 25px 0;
}

#mapLatLon {
    width:100%;
    min-height: 320px;
}
.leaflet-div-icon {
    border:0px !important;
    background: transparent  !important;
}
.btn-floating.icon {
    width: 48px;
height: 48px;
border: 0px;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
margin-left: -24px;
margin-top: -24px;
}
.profil_url {
    font-weight: bold;
}
.social span {
    margin:15px 5px;
    font-size: 1.5rem;
}
a.btn.btn-primary:hover {
    background: #000;
}
.rejestracja_block .file:before {
    content: "Zalecana wielość pliku 800x360";
    position: absolute;
    top: 0;
    background: #4ba097;
    color: #fff;
    left: 0;
    padding: 5px;
}
.select2-container {
    text-align: left;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px;
    padding: 17px 0;
    border-radius: 0px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100% !important;
}
.select2-container .select2-selection--single {
    height: 100% !important;
}
.rejestracja_block .file:after {
 /* content: "Wybierz plik";
position: absolute;
background: #000000;
left: 4em;
min-height: 36px;
padding: 7px;
max-width: 200px;
color: #fff;
text-align: center;
min-width: 150px;
top: 50%;
transform: translateY(-50%); */
}
.szkolenie-box { 
    background-image: url(../img/szkolenie/szkolenie_box.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.szkolenie-box h2 {
    width: 100%;
}
.szkolenie-box-full { 
    background-image: url(../img/szkolenie/szkolenie_box.png);
    width: 100%;
    min-height: 350px;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.szkolenie-box::before {
    background: #fff;
    width: calc(100% - 25px);
    height: calc(100% - 25px);
    position: absolute;
    z-index: 0;
    content: " ";
    top:12.5px;
}
.szkolenie-box-inner {
    position: relative;
    z-index: 1;
}
.col-md-4:nth-child(1) .szkolenie-box::after {
    content: "+";
    position: absolute;
    z-index: 9;
    right: -25px;
    font-size: 2rem;
    top:50%;
}

.col-md-4:nth-child(2) .szkolenie-box::after {
    content: "=";
    position: absolute;
    z-index: 9;
    right: -25px;
    font-size: 2rem;
    top:50%;
}


@media(max-width:767px) {
    .col-md-4:nth-child(1) .szkolenie-box::after {
    top:75%;
    right:50%;
    }
    .col-md-4:nth-child(2) .szkolenie-box::after {
        right: 50%;
        top:75%;
    }
}
.szkolenie-box-full img {
    margin-top: -100px;
}
.szkolenie-box-full h2 {
    width:100%;
}
.checkbox_item {
      display: none !important;  
    width: auto !important;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.row.label.hidden {
    opacity: 0.5;
}
.korzysci-box a {
    color: #fff;
}
.ekspert-container {
    transition: none;
    /* opacity:0; */
}
.uslugi_ceny {
    margin:10px  !important;
    border:0px;
    background: #eee;
    text-align: center;
}
.szkolenie .social a {
    font-size: 1rem;
}
.btn-social {
    width:100%;
    color:#fff;
    margin: 5px 0;
}
.btn-social:hover {
    color:#fff;
}
.separator:before {
    content: " ";
    width: 100%;
    background: #eee;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 0;

}

.dla_ekspertek img {
    /* width: 20px;
    vertical-align: middle; */
}
@media(max-width:600px){
.modal-body {
    max-width:100%;
}
}
.btn.btn-primary.btn-secondary.center {
    background: #000 !important;
}
.home::before {
    content: " ";
    background: linear-gradient(to right, #050505 38%, transparent);
    height: 100%;
    width: 89%;
    position: absolute;
    z-index: 1;
    left: 0;
}
.filtry label {
    width: 100%;
text-align: left;
}
@media(max-width:767px) {
    .filtry label {
text-align: center;
}
.ocena {
    float:left;
}
.dla_ekspertek .label-cert {
    display: none;
}
}
.szkolenie-box-inner img {
    margin: auto;
}
.fancybox-button:hover {
    color: #fff;
    background: #000 !important;
}
.ekpert_icon {
    display: inline-block;
}
.owl-nav button {
    background: #00a9a3 !important;
    min-width: 35px !important;
    color: #fff !important;
    height: 30px;
}
.owl-nav {
    text-align: right;
position: absolute;
top: -60px;
right: 0;
}